<Column Base="12" ExtraLarge="6">
    @if (Article is not null)
    {
        <Card Title="@Article.Name">
            <form>
                <FormRow Class="row-eq-spacing-lg">
                    <Column Base="12" Large="6">
                        <Input Type="number" Placeholder="Artikelnummer" Label="Artikelnummer" Required=@true Value="@Article.Number" Readonly=@true/>
                    </Column>
                    <Column Base="12" Large="6">
                        <Input Type="text" Placeholder="Artikelbezeichnung" Label="Artikelbezeichnung" Required=@true Value="@Article.Name" Readonly=@true/>
                    </Column>
                    <Column Base="12" Large="6">
                        <Input Type="text" Placeholder="Lieferant" Label="Lieferant" Required=@true Value="@Article.Provider" Readonly=@true/>
                    </Column>
                    <Column Base="12" Large="6">
                        <Input Type="text" Placeholder="Preis" Label="Preis" Required=@true Value="@(Article.Price.ToString("C") + " EUR")" Readonly=@true/>
                    </Column>
                    <Column Base="12" Large="3">
                        <Input Type="number" Placeholder="Bestand" Label="Bestand" Required=@true Value="@Article.PresentCount.ToString()" Readonly=@true/>
                    </Column>
                    <Column Base="12" Large="3">
                        <Input Type="number" Placeholder="Bestellt" Label="Bestellt" Value="@Article.BoughtCount.ToString()" Readonly=@true/>
                    </Column>
                    <Column Base="12" Large="3">
                        <Input Type="number" Placeholder="Bestellt + Bestand" Label="Bestand + Bestellt" Value="@((Article.BoughtCount + Article.PresentCount).ToString())" Readonly=@true/>
                    </Column>
                    <Column Base="12" Large="3">
                        <Input Type="number" Placeholder="Mindestbestand" Label="Mindestbestand" Required=@true Value="@Article.MinCount.ToString()" Readonly=@true/>
                    </Column>
                    <Column Base="12" Large="6">
                        <Input Type="text" Placeholder="Verantwortlicher Name" Label="Verantwortlicher Name" Required=@true Value="@Article.Owner.Name" Readonly=@true/>
                    </Column>
                    <Column Base="12" Large="6">
                        <Input Type="text" Placeholder="Verantwortlicher E-Mail" Label="Verantwortlicher E-Mail" Required=@true Value="@Article.Owner.EMail" Readonly=@true/>
                    </Column>
                    <Column Base="12" Large="6">
                        <Textarea placeholder="Bemerkung" Readonly=@true>@Article.Note</Textarea>
                    </Column>
                    @if (Article.Base64ImageData is not null)
                    {
                        <Column Base="12" Large="6">
                            <img src="@("data:image/png;base64, " + Article.Base64ImageData)" class="img-fluid rounded pointer-events-none" alt="Artikelbild">
                        </Column>
                    }
                </FormRow>
            </form>
        </Card>
    }
    else
    {
        <Card Title="Loading...">
            <div class="progress">
              <div class="progress-bar progress-bar-animated" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </Card>
    }
</Column>

@code {

    [Parameter]
    public ArticleDTO? Article { get; set; }

}