<Column Base="12" ExtraLarge="6">
    @if (Article is not null)
    {
        <Card Title="@Article.Name">
            <form>
                <FormRow Class="row-eq-spacing-lg">
                    <Column Base="12" Large="6">
                        <Input Type="number" Placeholder="Artikelnummer" Label="Artikelnummer" Required=@true Value="@Article.Number" Readonly=@true/>
                    </Column>
                    <Column Base="12" Large="6">
                        <Input Type="text" Placeholder="Artikelbezeichnung" Label="Artikelbezeichnung" Required=@true Value="@Article.Name" Readonly=@true/>
                    </Column>
                    <Column Base="12" Large="6">
                        <Input Type="text" Placeholder="Lieferant" Label="Lieferant" Required=@true Value="@Article.Provider" Readonly=@true/>
                    </Column>
                    <Column Base="12" Large="6">
                        <Input Type="text" Placeholder="Preis" Label="Preis" Required=@true Value="@(Article.Price.ToString("C", System.Globalization.CultureInfo.InvariantCulture).Substring(1) + " €")" Readonly=@true/>
                    </Column>
                    <Column Base="12" Large="3">
                        <Input Type="number" Placeholder="Bestand" Label="Bestand" Required=@true Value="@Article.PresentCount.ToString()" Readonly=@true/>
                    </Column>
                    <Column Base="12" Large="3">
                        <Input Type="number" Placeholder="Bestellt" Label="Bestellt" Value="@Article.BoughtCount.ToString()" Readonly=@true/>
                    </Column>
                    <Column Base="12" Large="3">
                        <Input Type="number" Placeholder="Bestellt + Bestand" Label="Bestand + Bestellt" Value="@((Article.BoughtCount + Article.PresentCount).ToString())" Readonly=@true/>
                    </Column>
                    <Column Base="12" Large="3">
                        <Input Type="number" Placeholder="Mindestbestand" Label="Mindestbestand" Required=@true Value="@Article.MinCount.ToString()" Readonly=@true/>
                    </Column>
                    <Column Base="12" Large="6">
                        <Input Type="text" Placeholder="Verantwortlicher Name" Label="Verantwortlicher Name" Required=@true Value="@Article.Owner.Name" Readonly=@true/>
                    </Column>
                    <Column Base="12" Large="6">
                        <Input Type="text" Placeholder="Verantwortlicher E-Mail" Label="Verantwortlicher E-Mail" Required=@true Value="@Article.Owner.EMail" Readonly=@true/>
                    </Column>
                    <Column Base="12" Large="6">
                        <Textarea placeholder="Bemerkung" Readonly=@true>@Article.Note</Textarea>
                    </Column>
                    @if (Article.Base64ImageData is not null)
                    {
                        <Column Base="12" Large="6">
                            <img src="@("data:image/png;base64, " + Article.Base64ImageData)" class="img-fluid rounded pointer-events-none" alt="Artikelbild">
                        </Column>
                    }
                </FormRow>
                <FormRow Class="row-eq-spacing">
                    <Column Base="12">
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group" role="group">
                                <a class="btn btn-secondary" href="@("/createTransaction/" + ArticleId + "?Type=" + Enum.GetName(TransactionType.Buying))">Bestellt</a>
                                <a class="btn btn-success" href="@("/createTransaction/" + ArticleId + "?Type=" + Enum.GetName(TransactionType.Addition))">Zugang</a>
                                <a class="btn btn-danger" href="@("/createTransaction/" + ArticleId + "?Type=" + Enum.GetName(TransactionType.Removal))">Abgang</a>
                            </div>
                        </div>
                    </Column>
                </FormRow>
                <FormRow Class="row-eq-spacing">
                    <Column Base="12">
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group" role="group">
                                <a href="@("/editArticle/" + ArticleId)" class="btn btn-primary">Aritkel Editieren</a>
                                <a href="/" class="btn btn-primary">Zur Legende</a>
                                <a href="/articleList" class="btn btn-primary">Zu Stammdaten</a>
                            </div>
                        </div>
                    </Column>
                </FormRow>
            </form>
            <details class="collapse-panel">
                <summary class="collapse-header">
                    Transaktionen
                </summary>
                <div class="collapse-content">
                    <TransactionList ArticleId="@ArticleId" Article="@Article"/>
                </div>
            </details>
        </Card>
    }
    else
    {
        <Card Title="Loading...">
            <Loading Progress="80" Max="100"/>
        </Card>
    }
</Column>

@code {

    [Parameter]
    public string ArticleId { get; set; }

    [Parameter]
    public ArticleDTO? Article { get; set; }

}